body{
    /* outline: 1px dotted pink; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



img{
    width: 180px;
    height: auto;
}

.row{
    background-color: #f0eaea;
}

.box{
    width: 180px;
    height: 216px;
    display: inline-block;
    box-shadow: 6px 6px 8px #777;
    margin: 20px;
    vertical-align: bottom;
}

h1{
    background-color: #e7eafa;
    margin: 0px;
    padding: 40px;
}

.footer{
    background-color: #e7eafa;
    padding: 50px;
}

button{
    background-color: rgb(84, 161, 172);
    color: white;
    font-size: 1.2em;
    width: 170px;
    height: 40px;
    text-align: center;
}
